
﻿@using Microsoft.AspNetCore.Http;

﻿@{
    ViewData["Title"] = "Carrito";
    Layout = null;
}
<p hidden> @Context.Session.GetInt32("logged"); </p>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://use.fontawesome.com/c560c025cf.js"></script>
    <link rel="stylesheet" href="~/css/carrito.css" />
</head>
<body>
    <div class="container"></div>
    <div class="card">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true">  </i>
                          Carrito de la compra
            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-info btn-sm pull-right">Seguir comprando</a>
            <div class="clearfix"></div>
        </div>
        @{double preciototal = 0.0; }
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <img class="img-responsive" src="~/productimages/@item.Product.Imagen" alt="prewiew" style="width:100px">
                </div>
                <div class="col-xs-4 col-md-6">
                    <h4 class="product-name"><strong>@item.Product.Nombre</strong></h4><h4><small>@item.Product.Descripcion</small></h4>
                </div>
                <div class="col-xs-6 col-md-4 row">
                    <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
                        <h6><strong>@item.Product.Precio <span class="text-muted">x</span></strong></h6>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <input type="text" class="form-control input-sm" value=@item.Quantity>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a class="btn btn-outline-danger btn-xs"
                            a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                           </a>
                    </div>
                </div>
            </div>

            preciototal += item.Product.Precio * item.Quantity;
        }
        <br>
        <div class="card-body">
            <hr>
            <hr>
            <div class="pull-right">
                <a href="@Url.Action("Index", "Home")" class="btn btn-outline-secondary pull-right">Añadir más cosas</a>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-success pull-right" asp-controller="Checkout" asp-action="Checkout" asp-route-id=@Context.Session.GetInt32("logged") asp-route-usuario="@Context.Session.GetString("usuario")">Comprar</a>
            <div class="pull-right" style="margin: 5px">
                Total: <b>@preciototal €</b>
            </div>
        </div>
    </div> 

</body>
</html>

